/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background for readability */
    color: #fff;
    padding: 1rem 0;
}

header .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Slideshow Styles */
.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.mySlides {
    display: none;
}

img {
    width: 100%;
    height: auto;
}

/* Fade animation */
.fade {
    animation: fade 1.5s ease-in-out;
}

@keyframes fade {
    from { opacity: .4 }
    to { opacity: 1 }
}

/* Section Styles */
section {
    padding: 2rem 0;
    color: #fff;
}

section#home {
    background-image: url("https://github.com/KIBECONTRACTORS/KCLTD/raw/main/site.jpeg");
    background-size: cover;
    background-position: center;
}

section#about {
    background-image: url("https://github.com/KIBECONTRACTORS/KCLTD/raw/main/site4.jpg");
    background-size: cover;
    background-position: center;
}

section#services {
    background-image: url("https://github.com/KIBECONTRACTORS/KCLTD/raw/main/kibe%20house%202.jpg");
    background-size: cover;
    background-position: center;
}

section#team {
    background-image: url("https://github.com/KIBECONTRACTORS/KCLTD/raw/main/site3.jpg");
    background-size: cover;
    background-position: center;
}

section#contact {
    background-image: url("https://github.com/KIBECONTRACTORS/KCLTD/raw/main/site%202.jpg");
    background-size: cover;
    background-position: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
