;
}

footer {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

footer .logo-footer {
    width: 100px; /* Adjust as needed */
    height: auto;
    margin-bottom: 10px; /* Adjust spacing between logo and text */
}

/* Contact form styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 100%;
    max-width: 600px; /* Adjust as needed */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form textarea {
    height: 150px; /* Make the message input area larger */
    resize: vertical; /* Allow users to resize the textarea vertically */
}

form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Media Queries for Responsiveness */

/* General styles for small screens */
@media only screen and (max-width: 600px) {
    .slideshow-container img {
        width: 100%; /* Make the images take up the full width of the screen */
        height: auto; /* Maintain the aspect ratio */
    }

    .text h2 {
        font-size: 24px; /* Adjust the font size for smaller screens */
    }

    .text p {
        font-size: 16px; /* Adjust the paragraph text size */
    }

    header {
        padding: 10px; /* Reduce padding for smaller screens */
    }

    nav ul {
        display: flex;
        flex-direction: column;
    }

    nav ul li {
        margin-bottom: 10px;
    }
}

/* For very small screens (e.g., smartphones in portrait mode) */
@media only screen and (max-width: 400px) {
    .text h2 {
        font-size: 20px; /* Further reduce font size */
    }

    .text p {
        font-size: 14px;
    }

    header h1 {
        font-size: 24px;
    }
}
